body, header, section, footer, select, h1, h2, h3, p, button, div, img, ul, li, 
#container, #logo, #topMenu, #contents, .lang_select, .get_email{margin: 0; padding: 0; box-sizing: border-box;}

body{width: 100%;}
#container{}
h1, h2, h3{color: #fff;}
p{color: #ccc;}
ul{list-style: none;}
div{}
li{}
button{background: #f00; color: #fff; border-radius: 5px; border: none;}
img{}
.lang_select{border-radius: 5px;}
.clear::after{clear: both;}

/* header */
header{z-index: 100; width: 100%; height: 80px; position: absolute; background: rgba(0, 0, 0, 0);}
#logo{float: left; margin: 20px 60px;}
#logo h1{width: 200px; height: 50px; background: url("../img/Logonetflix.png") no-repeat; background-size: contain;}
#topMenu{float: right; margin: 20px 60px;}
#selectWrap{position: relative; width: 200px;}
.global_icon{position: absolute; left: -4px; top: 7px;}
.arrow{position: absolute; left: 65px; top: 7px;}
#topMenu .lang_select{position: absolute; right: 90px; width: 100px; height: 35px; margin-right: 20px; padding-left: 30px; appearance: none; background: none; color: #fff; border: 1px solid #fff; z-index: 100;}
#topMenu .lang_select option{background: #ccc;}
#topMenu button{position: absolute; right: 0; width: 75px; height: 35px; font-size: 1em;}

/* section */
section{background: #000;}
#contents{}
#contents div{border-bottom: 5px solid #ccc;}
#contents div:last-of-type{border-bottom: none;}
.backgroundB{position: absolute; height: 600px; width: 100%; background: rgba(0, 0, 0, 0.4);}
.firstBg{position: absolute; height: 600px; width: 100%; background: url("../img/section_1_BG.jpg"); background-size: 100%;}
.firstCard{position: relative; height: 600px; text-align: center; padding-top: 200px;}
.firstCard h1{font-size: 3em; margin-bottom: 0.5em;}
.firstCard h2{}
.firstCard h3{}
.firstCard form{}
.firstCard .get_email{}
.firstCard .get_email button{}
.secondCard{}
.secondCard h1{}
.secondCard h2{}
.secondCard img{float: right;}
.thirdCard{}
.thirdCard h1{}
.thirdCard h2{}
.thirdCard img{float: left;}
.fourthCard{}
.fourthCard h1{}
.fourthCard h2{}
.fourthCard img{float: right;}
.fifthCard{}
.fifthCard h1{}
.fifthCard h2{}
.fifthCard img{float: left;}
.lastCard{}
.lastCard h1{}
.lastCard ul{}
.lastCard ul li{}
.lastCard ul li h2{}
.lastCard ul li div{display: none;}
.lastCard h3{}
.lastCard form{}
.lastCard .get_email{}
.lastCard .get_email button{}

/* footer */
footer{background: #000;}
footer p{}
footer .lang_select{}
footer .lang_select option{}